*{
 margin: 0;
 padding: 0;
 font-family: Century Gothic;
  }

.youtube{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    }
 .youtube a{
 color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;
}
     
 .learn2fly{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    }  
 .learn2fly a{
 color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;
}

.discordunblocked{
 position: absolute;
    top: 40%;
    left: 52.5%;
    transform: translate(-50%,-50%);   
}
.discordunblocked a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;
}

.paperio{
 position: absolute;
    top: 40%;
    left: 64.2%;
    transform: translate(-50%,-50%);      
}
.paperio a{
   color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.minecraft{
 position: absolute;
    top: 40%;
    left: 73.5%;
    transform: translate(-50%,-50%);         
}
.minecraft a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.dogeminer{
 position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);        
}
.dogeminer a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.spaceplan{
 position: absolute;
    top: 50%;
    left: 40.3%;
    transform: translate(-50%,-50%);        
}
.spaceplan a{
     color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.gameswarning {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gameswarning h3{
    color: #fff;
  font-size: 15px; 
}

.happywheels{
    position: absolute;
    top: 50%;
    left: 54.1%;
    transform: translate(-50%,-50%);  
}
.happywheels a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.flappybird{
    position: absolute;
    top: 50%;
    left: 68.3%;
    transform: translate(-50%,-50%);
}

.flappybird a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.hextris{
     position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.hextris a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}

.survivio{
    position: absolute;
    top: 60%;
    left: 39%;
    transform: translate(-50%,-50%);
}

.survivio a{
    color: #fff;
 font-size: 15px;
 border: 1px solid #fff;
 padding: 10px 30px;
 text-decoration: none;  
}




